<div class="main-wrapper">

</div>



<div class="wrapper">
    <div class="user-info">
      <div class="title">
        <h2>This template is built by</h2>
      </div>
          <ul class="list-inline text-center">
            <% [{ realname: "guillo Varela", username:"guillo16"}, {realname: "colin Strachan", username: "colinstrachan"}].each do |gh_username| %>
              <li>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username[:username]}", class: "img-circle" %>
                <h3><%= gh_username[:realname].capitalize%></h3>

                <a href="https://github.com/<%= gh_username[:username] %>"> <%= gh_username[:username] %></a>
              </li>
            <% end %>
          </ul>
      </div>
    </div>
</div>
